<%- include('../templates/head') %>
<link rel="stylesheet" href="/stylesheets/output.css">
<link rel="stylesheet" href="/stylesheets/hamburguer.css">
</head>

<body class="bg-bgLight">


    <body class="bg-bgLight">

        <body class="bg-mainLight">
            <%- include('../templates/admin/nav') %>
            <div class="flex overflow-hidden pt-16 bg-mainLight">
                <aside
                    class="aside hidden md:flex bg-mainLight border-solid border-[1px] border-[rgba(99,99,99,.2)] w-64 fixed z-20 h-full top-0 left-0 pt-16 flex-shrink-0 flex-col"
                    aria-label="Sidebar">
                    <div class="overflow-y-auto py-4 px-3 bg-gray-50 rounded dark:bg-gray-800">
                        <ul class="space-y-2">
                            <li>
                                <a href="/admin"
                                    class="flex items-center p-2 text-base font-normal rounded-lg  hover:text-bgLight hover:bg-marronBg ">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                                    </svg>
                                    <span class="flex-1 ml-3 whitespace-nowrap">Inicio</span>
                                    <!-- <span class="inline-flex justify-center items-center p-3 ml-3 w-3 h-3 text-sm font-medium text-blue-600 bg-blue-200 rounded-full dark:bg-blue-900 dark:text-blue-200">3</span> -->
                                </a>
                            </li>
                            <li>
                                <a href="/admin/crear"
                                    class="flex items-center p-2 text-base font-normal rounded-lg  text-bgLight bg-marronBg ">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                                    </svg>
                                    <span class="flex-1 ml-3 whitespace-nowrap">Añadir producto</span>
                                    <!-- <span class="inline-flex justify-center items-center p-3 ml-3 w-3 h-3 text-sm font-medium text-blue-600 bg-blue-200 rounded-full dark:bg-blue-900 dark:text-blue-200">3</span> -->
                                </a>
                            </li>
                            <li>
                                <a href="/admin/productos"
                                    class="flex items-center p-2 text-base font-normal rounded-lg hover:text-bgLight hover:bg-marronBg ">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M5 8h14M5 8a2 2 0 110-4h14a2 2 0 110 4M5 8v10a2 2 0 002 2h10a2 2 0 002-2V8m-9 4h4" />
                                    </svg>
                                    <span class="ml-3">Productos</span>
                                </a>
                            </li>
                            <li>
                                <a href="/admin/pedidos"
                                    class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg hover:text-bgLight hover:bg-marronBg">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2" />
                                    </svg>
                                    <span class="flex-1 ml-3 whitespace-nowrap">Pedidos</span>
                                    <!-- <span class="inline-flex justify-center items-center px-2 ml-3 text-sm font-medium text-gray-800 bg-gray-200 rounded-full dark:bg-gray-700 dark:text-gray-300">Pro</span> -->
                                </a>
                            </li>
                            <!-- <li>
                            <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                                <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                                <span class="flex-1 ml-3 whitespace-nowrap">Users</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                                <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 2a4 4 0 00-4 4v1H5a1 1 0 00-.994.89l-1 9A1 1 0 004 18h12a1 1 0 00.994-1.11l-1-9A1 1 0 0015 7h-1V6a4 4 0 00-4-4zm2 5V6a2 2 0 10-4 0v1h4zm-6 3a1 1 0 112 0 1 1 0 01-2 0zm7-1a1 1 0 100 2 1 1 0 000-2z" clip-rule="evenodd"></path></svg>
                                <span class="flex-1 ml-3 whitespace-nowrap">Products</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                                <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd"></path></svg>
                                <span class="flex-1 ml-3 whitespace-nowrap">Sign In</span>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700">
                                <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z" clip-rule="evenodd"></path></svg>
                                <span class="flex-1 ml-3 whitespace-nowrap">Sign Up</span>
                            </a>
                        </li> -->
                        </ul>
                    </div>
                </aside>
                <div class="main-content ml-0 md:ml-64 h-full w-full relative overflow-y-auto">
                    <main>
                        <div class="p-4 flex flex-col justify-between">
                            <nav class="flex mb-4" aria-label="Breadcrumb">
                                <ol class="inline-flex items-center space-x-1 md:space-x-3">
                                    <li class="inline-flex items-center">
                                        <a href="/admin"
                                            class="inline-flex items-center text-lg font-normal text-gray-700 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white">
                                            <svg class="mr-2 w-7 h-6" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                                                </path>
                                            </svg>
                                            Inicio
                                        </a>
                                    </li>
                                    <li aria-current="page">
                                        <div class="flex items-center">
                                            <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd"
                                                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                            <span
                                                class="ml-1 text-lg font-normal text-gray-500 md:ml-2 dark:text-gray-400">Añadir
                                                producto</span>
                                        </div>
                                    </li>
                                </ol>
                            </nav>
                            <div>
                                <span class="text-2xl font-medium">Añadir producto</span>
                            </div>
                        </div>
                        <div class="flex flex-col">
                            <div class="overflow-x-auto">
                                <div class="align-middle inline-block min-w-full">
                                    <div class="w-full flex items-center justify-center p-6">
                                        <form class="w-4/5" method="post" action="/admin/crear"
                                            enctype="multipart/form-data">
                                            <div class="mb-6">
                                                <label for="nombre"
                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Nombre
                                                    del producto</label>
                                                <input type="text" id="nombre" name="nombre"
                                                    class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-marronBg focus:border-marronBg"
                                                    required>
                                            </div>
                                            <div class="mb-6">
                                                <label for="precio"
                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Precio
                                                    del producto</label>
                                                <input type="number" id="precio" name="precio"
                                                    class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-marronBg focus:border-marronBg"
                                                    required>
                                            </div>
                                            
                                            <div class="mb-6">
                                                <label for="precio_oferta"
                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Precio de oferta
                                                    del producto (dejar vacío si no hay ofertas existentes para el producto)</label>
                                                <input type="number" id="precio_oferta" name="precio_oferta"
                                                    class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-marronBg focus:border-marronBg"
                                                    >
                                            </div>

                                            <div class="mb-6">
                                                <label for="descripcion"
                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Descripción
                                                    del producto</label>
                                                <textarea id="descripcionlarga" name="descripcionlarga" rows="4"
                                                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-marronBg focus:border-marronBg" required></textarea>
                                            </div>

                                            <div class="mb-6">
                                                <label for="modouso" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Modo de uso</label>
                                                <textarea name="modouso" id="modouso" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"></textarea>
                                            </div>

                                            <div class="mb-6">
                                                <label for="componentes1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Componente 1</label>
                                                <input type="text" id="componentes1" name="componentes1" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                            </div>

                                            <div class="mb-6">
                                                <label for="componentes2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Componente 2</label>
                                                <input type="text" id="componentes2" name="componentes2" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                            </div>

                                            <div class="mb-6">
                                                <label for="componentes3" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Componente 3</label>
                                                <input type="text" id="componentes3" name="componentes3" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                            </div>

                                            <div class="mb-6">
                                                <label for="componentes4" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Componente 4</label>
                                                <input type="text" id="componentes4" name="componentes4" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                            </div>

                                            <div class="mb-6">
                                                <label for="componentes5" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Componente 5</label>
                                                <input type="text" id="componentes5" name="componentes5" class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                            </div>

                                            <div class="mb-6">
                                                <label for="stock"
                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Stock</label>
                                                <input type="number" id="stock" name="stock"
                                                    class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-marronBg focus:border-marronBg"
                                                    required>
                                            </div>
                                            <div class="mb-6">
                                                <label class="block mb-2 text-sm font-medium text-gray-900"
                                                    for="imagen">Imagen del producto</label>
                                                <input name="imagen"
                                                    class="block w-full text-sm text-bgLight rounded-lg cursor-pointer bg-marronBg focus:outline-none"
                                                    aria-describedby="product_image_help" id="imagen" type="file" required>
                                            </div>

                                            <div class="mb-6">
                                                <label for="alternative"
                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Descripción
                                                    de la imagen</label>
                                                <input type="text" id="alternative" name="alternative"
                                                    class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-marronBg focus:border-marronBg"
                                                    >
                                            </div>

                                            <div class="mb-6">
                                                <div class="relative shadow-lg sm:rounded-lg">
                                                    <table
                                                        class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                                                        <tbody>
                                                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                                                <th scope="row"
                                                                    class="py-4 px-6 bg-bgCardBg font-medium text-gray-900 whitespace-nowrap dark:text-white dark:bg-gray-800">
                                                                    Tipo de <input type="text" name="tipode" class="p-4 text-gray-900 border border-gray-300 rounded-lg sm:text-md focus:ring-marronBg focus:border-marronBg">
                                                                </th>
                                                                <td class="py-4 px-6">
                                                                    <!-- <label for="tipodepiel"
                                                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Tipo de piel</label> -->
                                                                    <input type="text" id="tipodepiel"
                                                                        name="tipodepiel"
                                                                        class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg sm:text-md focus:ring-marronBg focus:border-marronBg"
                                                                        >
                                                                </td>
                                                            </tr>
                                                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                                                <th scope="row"
                                                                    class="py-4 px-6 bg-bgCardBg font-medium text-gray-900 whitespace-nowrap dark:text-white dark:bg-gray-800">
                                                                    Cantidad
                                                                </th>
                                                                <td class="py-4 px-6">
                                                                    <!-- <label for="cantidad"
                                                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Cantidad</label> -->
                                                                    <input type="text" id="cantidad"
                                                                        name="cantidad"
                                                                        class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-md focus:ring-marronBg focus:border-marronBg"
                                                                        >
                                                                </td>
                                                            </tr>
                                                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                                                <th scope="row"
                                                                    class="py-4 px-6 bg-bgCardBg font-medium text-gray-900 whitespace-nowrap  dark:text-white dark:bg-gray-800">
                                                                    Duración
                                                                </th>
                                                                <td class="py-4 px-6">
                                                                    <!-- <label for="duracion"
                                                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Duracion</label> -->
                                                                    <input type="text" id="duracion"
                                                                        name="duracion"
                                                                        class="block w-full p-4 bg-bgCardBg text-gray-900 border border-gray-300 rounded-lg  sm:text-md focus:ring-marronBg focus:border-marronBg"
                                                                        >
                                                                </td>
                                                            </tr>
                                                            <tr class="border-b border-gray-200 dark:border-gray-700">
                                                                <th scope="row"
                                                                    class="py-4 px-6 bg-bgCardBg font-medium text-gray-900 whitespace-nowrap dark:text-white dark:bg-gray-800">
                                                                    Envase reciclable
                                                                </th>
                                                                <td class="py-4 px-6">
                                                                    <!-- <label for="reciclabe"
                                                                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Reciclable</label> -->
                                                                        <select id="reciclable" name="reciclable"
                                                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-marronBg focus:border-marronBg block w-full p-2.5">
                                                                            <option value="Sí">Sí</option>
                                                                            <option value="No">No</option>
                                                                        </select>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>

                                            <div class="mb-6">
                                                <label for="categoria"
                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Categoría
                                                    del producto</label>
                                                <select id="categoria" name="categoria"
                                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-marronBg focus:border-marronBg block w-full p-2.5">
                                                    <option value="capilares">Capilares</option>
                                                    <option value="cremas">Cremas</option>
                                                    <option value="exfoliantes">Exfoliantes</option>
                                                    <option value="jabones">Jabones</option>
                                                    <option value="kits">Kits</option>
                                                    <option value="limpiadores">Limpiadores</option>
                                                    <option value="mascarillas">Mascarillas</option>
                                                    <option value="otros">Otros</option>
                                                    <option value="serum">Serum</option>
                                                    <option value="tonicos">Tonicos</option>
                                                </select>
                                            </div>

                                            <button type="submit"
                                                class="text-mainLight bg-marronBg focus:ring-4 focus:outline-none focus:ring-marronBg font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:bg-marronDark">Añadir
                                                producto</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </body>
    </body>
    <script src="/javascripts/admin.js"></script>
    <%- include('../templates/footer') %>