<%- include('../templates/headProductos') %> 
    <main class="w-full p-4 flex justify-center items-center bg-bgCardBg">
        <h1 class="hidden">Productos</h1>
        <div class="w-full">    
            <div class="lg:container sm:max-w-full mx-auto">
                <div class="flex flex-wrap items-center justify-center">
                    <a href="/productos/jabones" class="flex overflow-hidden mx-4 relative p-6 my-2 max-w-sm w-full bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100">
                        <div class="flex items-center">
                            <figure class="absolute overflow-hidden left-0 w-24 h-full">
                                <img src="images/productos/backgrounds/jabones-general-01.webp" class="w-full h-full object-cover" alt="Categoría jabones">
                            </figure>
                        </div>
                        <h2 class="ml-20 text-2xl font-thin">
                            Jabones
                        </h2>
                    </a>

                    <a href="/productos/cremas" class="flex overflow-hidden mx-4 relative p-6 my-2 max-w-sm w-full bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100">
                        <div class="flex items-center">
                            <picture class="absolute overflow-hidden right-0 w-24 h-full">
                                <img src="images/productos/backgrounds/crema.webp" class="w-full h-full object-cover" alt="">
                            </picture>
                        </div>
                        <h2 class="mr-20 text-2xl font-thin">
                            Cremas
                        </h2>
                    </a>

                    <a href="/productos/capilares" class="flex overflow-hidden mx-4 relative p-6 my-2 max-w-sm w-full bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100">
                        <div class="flex items-center">
                            <picture class="absolute overflow-hidden left-0 w-24 h-full">
                                <img src="images/productos/backgrounds/capilares.webp" class="w-full h-full object-cover" alt="">
                            </picture>
                        </div>
                        <h2 class="ml-20 text-2xl font-thin">
                            Capilares
                        </h2>
                    </a>

                    <a href="/productos/limpiadores" class="flex overflow-hidden mx-4 relative p-6 my-2 max-w-sm w-full bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100">
                        <div class="flex items-center">
                            <picture class="absolute overflow-hidden right-0 w-24 h-full">
                                <img src="images/productos/backgrounds/limpiadores.webp" class="w-full h-full object-cover" alt="">
                            </picture>
                        </div>
                        <h2 class="mr-20 text-2xl font-thin">
                            Limpiadores
                        </h2>
                    </a>

                    <a href="/productos/mascarillas" class="flex overflow-hidden mx-4 relative p-6 my-2 max-w-sm w-full bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100">
                        <div class="flex items-center">
                            <picture class="absolute overflow-hidden left-0 w-24 h-full">
                                <img src="images/productos/backgrounds/mascarillas.webp" class="w-full h-full object-cover" alt="">
                            </picture>
                        </div>
                        <h2 class="ml-20 text-xl font-thin">
                            Mascarillas
                        </h2>
                    </a>

                    <a href="/productos/otros" class="flex overflow-hidden mx-4 relative p-6 my-2 max-w-sm w-full bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100">
                        <div class="flex items-center">
                            <picture class="absolute overflow-hidden right-0 w-24 h-full">
                                <img src="images/productos/backgrounds/otros.webp" class="w-full h-full object-cover" alt="">
                            </picture>
                        </div>
                        <h2 class="mr-20 text-2xl font-thin">
                            Otros
                        </h2>
                    </a>


                    <a href="/productos/serum" class="flex overflow-hidden mx-4 relative p-6 my-2 max-w-sm w-full bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100">
                        <div class="flex items-center">
                            <picture class="absolute overflow-hidden left-0 w-24 h-full">
                                <img src="images/productos/backgrounds/serum.webp" class="w-full h-full object-cover" alt="">
                            </picture>
                        </div>
                        <h2 class="ml-20 text-xl font-thin">
                            Serum
                        </h2>
                    </a>

                    <a href="/productos/tonicos" class="flex overflow-hidden mx-4 relative p-6 my-2 max-w-sm w-full bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100">
                        <div class="flex items-center">
                            <picture class="absolute overflow-hidden right-0 w-24 h-full">
                                <img src="images/productos/backgrounds/tonicos.webp" class="w-full h-full object-cover" alt="">
                            </picture>
                        </div>
                        <h2 class="mr-20 text-2xl font-thin">
                            Tonicos
                        </h2>
                    </a>

                    <a href="/productos/exfoliantes" class="flex overflow-hidden mx-4 relative p-6 my-2 max-w-sm w-full bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100">
                        <div class="flex items-center">
                            <picture class="absolute overflow-hidden left-0 w-24 h-full">
                                <img src="images/productos/subidosporweb/1657462657080_crema-exfoliante.webp" class="w-full h-full object-cover" alt="">
                            </picture>
                        </div>
                        <h2 class="ml-20 text-xl font-thin">
                            Exfoliantes
                        </h2>
                    </a>

                    <a href="/productos/kits" class="flex overflow-hidden mx-4 relative p-6 my-2 max-w-sm w-full bg-white rounded-lg border border-gray-200 shadow-md hover:bg-gray-100">
                        <div class="flex items-center">
                            <picture class="absolute overflow-hidden right-0 w-24 h-full">
                                <img src="images/productos/backgrounds/tonicos.webp" class="w-full h-full object-cover" alt="">
                            </picture>
                        </div>
                        <h2 class="mr-20 text-2xl font-thin">
                            Kits
                        </h2>
                    </a>

                </div>
            </div>
        </div>
    </main>
    
<%- include('../templates/footerProductos') %> 